body {
    height: 3000px;
}

.container {
    height: 180px;
    width: 320px;
    background-color: gray;
    position: fixed;
    bottom: 20px;
    margin: 10px;
}

.close-btn {
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: -18px;
    background-color: black;
    color: white;
}

.time {
    background-color: black;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0;
    padding: 5px 5px;
    margin: 8px 8px;
}