body {
    height: 3000px;
}

.btn-right {
    position: fixed;
    background-color: black;
    color: white;
    bottom: 20px;
    right: 20px;
}

.sidebar {
    position: fixed;
    width: 100px;
    background-color: green;
    color: white;
    height: 100%;
}