.tab {
    box-shadow: 0 0 6px #ccc;
    width: 200px;
    margin-right: 20px;
    display: inline-block;
}

.detail {
    margin: 0px 8px;
}

.img-profile {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

.description {
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
}

.add-button {
    background-color: rgb(24, 119, 242);
    color: white;
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}